.header {
    width: 100%;
    padding: 10px 25px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    font-size: 20px;
    font-weight: bolder;
}

.searchInput {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 25px 10px 35px;
    border-radius: 10px;
    width: 500px;
    background: transparent no-repeat 10px center;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.rightSection,
.calendarSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    outline: none;
    border: none;
    padding: 10px 0 10px 10px;
}

.calendar::-webkit-inner-spin-button,
.calendar::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.divider {
    border-left: 1px solid #000;
    height: 20px;
    margin: 0 10px;
}

.avatar {
    width: 25px;
    height: 25px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    position: relative;
}

.dropdown {
    position: absolute;
    padding: 10px 25px;
    right: 0;
    top: 30px;
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    .dp {
        height: 125px;
        width: 125px;
        border-radius: 50%;
        border: 2px solid rgba(0, 0, 0, 0.2);
        margin: auto;
    }

    .details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;

        width: 150px;

        .text {
            overflow-wrap: break-word;
            word-wrap: break-word;
            word-break: break-word;
        }

        .email {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            outline: none;
            border: none;
            font-size: 20px;
            background-color: #fff;

        }
    }
}