.sidetab {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    cursor: pointer;
}

.sidetab:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.sideTabSelected {
    background-color: #000;
    color: #fff;
    pointer-events: none;
}