.accordionBtn {
    cursor: pointer;
    padding: 10px 0;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordionBtnHeader {
    font-size: 18px;
    padding: 10px 25px;
    font-weight: bolder;
}

.accordionNonActive {
    display: none;
}

.accordionActive {
    display: block;
}